<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.soushang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

     <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE"/>    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:name="com.baidu.soushang.SouShangApplication" >
        <activity 
            android:name=".activities.HomeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name=".activities.QuestionActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        
        <activity 
            android:name=".activities.EventCompletedActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        
        <activity 
            android:name=".activities.RankActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        
        <activity 
            android:name=".activities.ShopActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        
        <activity 
            android:name=".activities.SouShangActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        
        <service
		    android:name="com.umeng.common.net.DownloadingService"
		    android:exported="true"
		    android:process=":DownloadingService" >
		</service>
        
        <meta-data android:name="UMENG_CHANNEL" android:value="soushang_web" />
        <meta-data android:name="UMENG_APPKEY" android:value="51a05d4256240b7b080200c6" />
    </application>
</manifest>